body {

	text-align: center;
	font-family: "Merriweather", serif;
	font-size: 100%
}

h1 {
	font-size: 565%;
	margin-top:0;
	font-family: 'Parisienne', cursive;
}

h2 {
margin-top:50px;
font-family: 'Asul', sans-serif;
}

h3 {
font-family: 'Asul', sans-serif;
}
.round{
	border-radius: 3000px;
	height: 200px;
	width: 200px;
}
.top-container {
	background-color: #ecf4f3;
	position: relative;
	padding-top: 100px;
}
.pose{

	left: 500px;
}
.middle-container {
	background-color: #ecf4f3;
	position: relative;
}

.bottom-container {
	background-color: #ecf4f3;
	position: relative;
}

.pro {
	text-decoration: underline;
}

.top-cloud {
	right: 300px;
	top: 50px;
	position: absolute;
}

.bottom-cloud {
	position: absolute;
	left: 200px;
	bottom: 400px;
}
.btn{
border-width:20px;
}
.fon{
	font-size: 2.5em;
	text-decoration: underline;
}
.font{
	font-size: 1.2em;
}
