body {
	margin-top: 0;
	margin-bottom: 0;
	margin-left: 0;
	margin-right: 0;
	text-align: center;
	font-family: "Merriweather", serif;
	font-size: 100%;
	background-color: #ecf4f3;
}

h1 {
	color: #66BFBF;
	font-size: 565%;
	margin-top:0;
	margin-bottom: 0;
	font-family: 'Parisienne', cursive;
}
h2 {
color: #66BFBF;
margin-top:0;
font-family: 'Asul', sans-serif;
}

h3 {
color: #11999E;
font-family: 'Asul', sans-serif;
}
.round{
	border-radius: 3000px;
	height: 200px;
	width: 200px;
}
.top-container {
	background-color: #ecf4f3;
	position: relative;
	padding-top: 100px;
}
.pose{
	left: 500px;
}
.middle-container {
	background-color: #ecf4f3;
	position: relative;
}

.bottom-container {
	background-color: #ecf4f3;
	position: relative;
}

.pro {
	text-decoration: underline;
}

.top-cloud {
	right: 200px;
	top: 50px;
	position: absolute;
}

.bottom-cloud {
	position: absolute;
	left: 200px;
	bottom: 300px;
}
.btn{
border-width:20px;
}
.fon{
	color: #66BFBF;
	font-size: 2.5em;
	line-height: 0;
	text-decoration: underline;
	font-weight: bold;
	margin-top: 0;
}
.fon:hover{
	color: #11999E;
}
.font{
	font-size: 1.2em;
}
.backcolor:hover{
	color: #11999E;
}
